<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->

<!-- Mirrored from handyman.dan-fisher.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Dec 2018 12:18:26 GMT -->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>BIENVENUE</title>
    <meta name="description" content="Handyman - Job Board HTML Template - 1.0">
    <meta name="author" content="../themeforest.net/user/dan_fisher.html">


    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">



    <!-- CSS
    ================================================== -->
    <!-- Base + Vendors CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fonts/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fonts/entypo/css/entypo.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/owl-carousel/owl.carousel.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('vendor/owl-carousel/owl.theme.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('vendor/magnific-popup/magnific-popup.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('vendor/flexslider/flexslider.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('vendor/job-manager/frontend.css') }}" media="screen">

    <!-- Theme CSS-->
    <link rel="stylesheet" href="{{ asset('css/theme.css') }}">
    <link rel="stylesheet" href="{{ asset('css/theme-elements.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">


    <!-- Head Libs -->
    <script src="{{ asset('vendor/modernizr.js') }}"></script>


    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ asset('images/favicons/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/favicons/favicon-120.html') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/favicons/favicon-152.html') }}">

</head>
<body>

<div class="site-wrapper">

    <!-- Header -->
    <header class="header header-menu-fullw">

        <!-- Header Top Bar -->
        <div class="header-top">
            <div class="container">
                <div class="header-top-right">
                    <button class="btn btn-sm btn-default menu-link menu-link__tertiary">
                        <i class="fa fa-user"></i>
                    </button>
                    <div class="menu-container">
                        <ul class="header-top-nav header-top-nav__tertiary">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                            <li class="fa fa-user-plus"> <strong>Bienvenue {{ app.user.username}}</strong> </li>

                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Deconnecter</a>
                            {% else %}
                            <li><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user-plus"></i>Inscrit client</a></li>
                            <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in"></i> se connecter</a></li>
                            <li><a href="{{ path('registration_pro') }}"><i class="fa fa-user-plus"></i> Inscrit pro</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .modal-backdrop.in {
                z-index: -1;
                opacity: .5;
                filter: alpha(opacity=50);
            }
        </style>
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Prét pour partir?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h1>toujours remercie notre equipe FIXIT</h1>
                        <img src="{{ asset('assets/images/logo.png') }}">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="{{ path('fos_user_security_logout') }}">Deconnecter</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Top Bar / End -->

        <div class="header-main">
            <div class="container">
                <!-- Logo -->
                <div class="logo">
                    <a href="{{ path('homepage') }}"><img src="{{ asset('images/logo.png') }}" alt="Handyman"></a>
                    <!-- <h1><a href="index.html"><span>Handy</span>Man</a></h1> -->
                </div>
                <!-- Logo / End -->

                <button type="button" class="navbar-toggle">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Navigation -->
                <nav class="nav-main" style="margin-left: -200px">
                    <div class="nav-main-inner">
                        <ul data-breakpoint="992" class="flexnav">
                            <li class="active"><a href="{{ path('homepage') }}">Acceuil</a></li>
                            <li><a href="page-services.html">Services</a></li>
                            <li><a href="page-team.html">Equipe Fixit</a></li>
                            <li><a href="#">Annonces</a>
                            </li>
                            <li><a href="#">Actualités</a>
                                <ul>
                                    <li><a href="blog-right-sidebar.html">Forum</a></li>
                                    <li><a href="blog-left-sidebar.html">Evenements</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Aide</a>
                                <ul>
                                    <li><a href="page-about.html">A propos de Fixit</a></li>
                                    <li><a href="page-faqs.html">FAQ</a></li>
                                </ul>
                            </li>
                            <li><a href="page-contacts.html">Nous Contacter</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- Navigation / End -->

            </div>
        </div>

    </header>
    <!-- Header / End -->


    <!-- Main -->
    <div class="main" role="main">

        <!-- Slider -->
        <section class="slider-holder">
            <div class="flexslider carousel">
                <ul class="slides">
                    <li>
                        <img src="{{ asset('images/samples/slide1.jpg') }}" alt="" />
                    </li>
                    <li>
                        <img src="{{ asset('images/samples/slide2.jpg') }}" alt="" />
                    </li>
                    <li>
                        <img src="{{ asset('images/samples/slide3.jpg') }}" alt="" />
                    </li>
                </ul>

                <div class="search-box">
                    <div class="container">
                        <div class="search-box-inner">
                            <h1>Rechercher un professionnel</h1>
                            <form action="http://handyman.dan-fisher.com/job-professionals.html" method="POST" role="form">

                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Tous les Bricoleurs">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Toutes les Zones">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="select-style">
                                                <select class="form-control">
                                                    <option>Tous les Services</option>
                                                    <option>Plomberie</option>
                                                    <option>Chauffage</option>
                                                    <option>Vitrage</option>
                                                    <option>Menuiserie</option>
                                                    <option>Serrurerie</option>
                                                    <option>Electroménager</option>
                                                    <option>Electricité</option>
                                                    <option>Petits Traveaux</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Slider / End -->

        <!-- Page Content -->
        <section class="page-content">
            <div class="container">

                <!-- Stats -->
                <div class="section-light section-nomargin">
                    <div class="section-inner">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="counter-holder counter-dark">
                                    <i class="fa fa-3x fa-suitcase"></i>
                                    <span class="counter-wrap">
											<span class="counter" data-to="42" data-speed="1500" data-refresh-interval="50">42</span>
										</span>
                                    <span class="counter-info">
											<span class="counter-info-inner">Tous les Boulots</span>
										</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="counter-holder counter-dark">
                                    <i class="fa fa-3x fa-thumbs-o-up"></i>
                                    <span class="counter-wrap">
											<span class="counter" data-to="12" data-speed="1500" data-refresh-interval="50">12</span>
										</span>
                                    <span class="counter-info">
											<span class="counter-info-inner">Boulots Completés</span>
										</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="counter-holder counter-dark">
                                    <i class="fa fa-3x fa-user"></i>
                                    <span class="counter-wrap">
											<span class="counter" data-to="48" data-speed="1500" data-refresh-interval="50">48</span>
										</span>
                                    <span class="counter-info">
											<span class="counter-info-inner">Bricoleurs</span>
										</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="counter-holder counter-dark">
                                    <i class="fa fa-3x fa-users"></i>
                                    <span class="counter-wrap">
											<span class="counter" data-to="64" data-speed="1500" data-refresh-interval="50">64</span>
										</span>
                                    <span class="counter-info">
											<span class="counter-info-inner">Membres</span>
										</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Stats / End -->

                <div class="spacer-xl"></div>
                <div class="promobox" data-stellar-background-ratio="0.5">
                    <div class="row">
                        <div class="col-md-4 promobox-item">
                            <h4><span>Pour</span> Electriciens</h4>
                            <img src="{{ asset('images/samples/depannage.png') }}" alt="" class="img-responsive">
                            <a href="#" class="btn btn-primary btn-sm">Voir Ici</a>
                        </div>
                        <div class="col-md-4 promobox-item">
                            <h4><span>Pour</span> Plombiers</h4>
                            <img src="{{ asset('images/samples/worker1.png') }}" alt="" class="img-responsive">
                            <a href="#" class="btn btn-primary btn-sm">Voir Ici</a>
                        </div>
                        <div class="col-md-4 promobox-item">
                            <h4><span>pour</span> Menuisiers</h4>
                            <img src="{{ asset('images/samples/charp.png') }}" alt="" class="img-responsive">
                            <a href="#" class="btn btn-primary btn-sm">Voir Ici</a>
                        </div>
                    </div>
                </div>
                <!-- Promobox / End -->

                <div class="spacer-lg"></div>

                <!-- Services -->
                <div class="title-bordered">
                    <h2>Nos Service <small>services que nous avons fournis</small></h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            <div class="icon-box-body">
                                <h5>Electricité</h5>
                                <p>
                                    Nous utilisons les dernières technologies pour tester de nouveaux produits innovants afin de les protéger.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="entypo tools"></i>
                            </div>
                            <div class="icon-box-body">
                                <h5>Domicile</h5>
                                <p>un service professionnel fournissant une expertise indépendante.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="fa fa-suitcase"></i>
                            </div>
                            <div class="icon-box-body">
                                <h5>Bricolage</h5>
                                <p>La gestion, la protection et la restauration de l'environnement font partie intégrante de nos services.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacer"></div>

                <!-- Listings -->
                <div class="title-bordered">
                    <h2>Our Professionals <small>Latest added</small></h2>
                </div>
                <div class="job_listings">
                    <ul class="job_listings">
                        <li class="job_listing">
                            <a href="#">
                                <div class="job_img">
                                    <img src="{{ asset('images/samples/person1.jpg') }}" alt="" class="company_logo">
                                </div>
                                <div class="position">
                                    <h3>Debbie Bidart</h3>
                                    <div class="company">
                                        <strong>Paint Removal from Exterior or Interior Surfaces</strong>
                                    </div>
                                </div>
                                <div class="location">
                                    <i class="fa fa-location-arrow"></i> Melbourne, AU
                                </div>
                                <div class="rating">
                                    <div class="rating-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                    <div class="reviews-num">12 Reviews</div>
                                </div>
                                <ul class="meta">
                                    <li class="job-type">Painting</li>
                                    <li class="date">
                                        Posted 1 month ago
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="job_listing">
                            <a href="#">
                                <div class="job_img">
                                    <img src="{{ asset('images/samples/person2.jpg') }}" alt="" class="company_logo">
                                </div>
                                <div class="position">
                                    <h3>Construction Inc.</h3>
                                    <div class="company">
                                        <strong>Strives to meet the consumers needs.</strong>
                                    </div>
                                </div>
                                <div class="location">
                                    <i class="fa fa-location-arrow"></i> New York, US
                                </div>
                                <div class="rating">
                                    <div class="rating-stars">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                                <ul class="meta">
                                    <li class="job-type">Bathroom Design</li>
                                    <li class="date">
                                        Posted 2 months ago
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="job_listing job_position_featured">
                            <a href="#">
                                <div class="job_img">
                                    <img src="{{ asset('images/samples/person3.jpg') }}" alt="" class="company_logo">
                                </div>
                                <div class="position">
                                    <h3>C &amp; G Plastering</h3>
                                    <div class="company">
                                        <strong>Quality Jobs You Can Afford</strong>
                                    </div>
                                </div>
                                <div class="location">
                                    <i class="fa fa-location-arrow"></i> London, UK
                                </div>
                                <div class="rating">
                                    <div class="rating-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="reviews-num">5 Reviews</div>
                                </div>
                                <ul class="meta">
                                    <li class="job-type">Plaster &amp; Drywall</li>
                                    <li class="date">
                                        Posted 2 months ago
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="job_listing">
                            <a href="#">
                                <div class="job_img">
                                    <img src="{{ asset('images/samples/person4.jpg') }}" alt="" class="company_logo">
                                </div>
                                <div class="position">
                                    <h3>White &amp; Sons</h3>
                                    <div class="company">
                                        <strong>Apply Concrete Floor Coating</strong>
                                    </div>
                                </div>
                                <div class="location">
                                    <i class="fa fa-location-arrow"></i> Melbourne, AU
                                </div>
                                <div class="rating">
                                    <div class="rating-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="reviews-num">4 Reviews</div>
                                </div>
                                <ul class="meta">
                                    <li class="job-type">Painting</li>
                                    <li class="date">
                                        Posted 3 months ago
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="job_listing">
                            <a href="#">
                                <div class="job_img">
                                    <img src="{{ asset('images/samples/person5.jpg') }}" alt="" class="company_logo">
                                </div>
                                <div class="position">
                                    <h3>Tim's Plastering</h3>
                                    <div class="company">
                                        <strong>We pride ourselves in excellent workmanship.</strong>
                                    </div>
                                </div>
                                <div class="location">
                                    <i class="fa fa-location-arrow"></i> Houston, TX
                                </div>
                                <div class="rating">
                                    <div class="rating-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="reviews-num">1 Review</div>
                                </div>
                                <ul class="meta">
                                    <li class="job-type">Plaster &amp; Drywall</li>
                                    <li class="date">
                                        Posted 2 months ago
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="job_listing">
                            <a href="#">
                                <div class="job_img">
                                    <img src="{{ asset('images/samples/person6.jpg') }}" alt="" class="company_logo">
                                </div>
                                <div class="position">
                                    <h3>Crystal Glass Ltd</h3>
                                    <div class="company">
                                        <strong>Bring the best customer service</strong>
                                    </div>
                                </div>
                                <div class="location">
                                    <i class="fa fa-location-arrow"></i> New York, US
                                </div>
                                <div class="rating">
                                    <div class="rating-stars">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                                <ul class="meta">
                                    <li class="job-type">Furniture Repair &amp; Refinish</li>
                                    <li class="date">
                                        Posted 3 months ago
                                    </li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="spacer"></div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <a class="btn btn-default btn-block" href="#">View All Professionals</a>
                    </div>
                </div>

                <!-- Listings / End -->

                <div class="spacer-xxl"></div>

                <!-- Promobox -->

            </div>
        </section>
        <!-- Page Content / End -->

        <!-- Footer -->
        <footer class="footer" id="footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <!-- Widget :: Contacts Info -->
                            <div class="contacts-widget widget widget__footer">
                                <h3 class="widget-title">Contact Us</h3>
                                <div class="widget-content">
                                    <ul class="contacts-info-list">
                                        <li>
                                            <i class="fa fa-map-marker"></i>
                                            <div class="info-item">
                                                Z.I. Chotrana II B.P. 160
                                                Pôle Technologique El Ghazela - Ariana 2083
                                            </div>
                                        </li>
                                        <li>
                                            <i class="fa fa-phone"></i>
                                            <div class="info-item">
                                                +219 20 586 388<br>
                                                +216 25 864 907
                                            </div>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope"></i>
                                            <span class="info-item">
													<a href="mailto:info@dan-fisher.com">pwners2019@gmail.com</a>
												</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-clock-o"></i>
                                            <div class="info-item">
                                                A votre service permanent
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /Widget :: Contacts Info -->
                        </div>


                        <div class="clearfix visible-sm"></div>

                        <div class="col-sm-4 col-md-4">
                            <!-- Widget :: Newsletter -->
                            <div class="widget_newsletter widget widget__footer">
                                <h3 class="widget-title"><strong>A propos</strong></h3>
                                <div class="widget-content">
                                    <p>Plateforme interactive d'information et de scoring regroupant les services dont tout citoyen a besoin au quotidien. Que vous cherchez plombier, mécanicien, tailleur, ... on vous guide tout en répondant à des critères de disponibilité et de performance.</p>
                                </div>
                            </div>
                            <!-- /Widget :: Newsletter -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            Copyright &copy; 2019 powred by pwners  <a href="{{ path('homepage') }}">FIXIT</a> &nbsp;| &nbsp;All Rights Reserved
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer / End -->

    </div>
    <!-- Main / End -->
</div>





<!-- Javascript Files
================================================== -->
<script src="{{ asset('vendor/jquery-1.11.0.min.js') }}"></script>
<script src="{{ asset('vendor/jquery-migrate-1.2.1.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap.js') }}"></script>
<script src="{{ asset('vendor/jquery.flexnav.min.js') }}"></script>
<script src="{{ asset('vendor/jquery.hoverIntent.minified.js') }}"></script>
<script src="{{ asset('vendor/jquery.flickrfeed.js') }}"></script>
<script src="{{ asset('vendor/magnific-popup/jquery.magnific-popup.js') }}"></script>
<script src="{{ asset('vendor/owl-carousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('vendor/jquery.fitvids.js') }}"></script>
<script src="{{ asset('vendor/jquery.appear.js') }}"></script>
<script src="{{ asset('vendor/jquery.stellar.min.js') }}"></script>
<script src="{{ asset('vendor/flexslider/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('vendor/jquery.countTo.js') }}"></script>

<!-- Newsletter Form -->
<script src="{{ asset('vendor/jquery.validate.js') }}"></script>
<script src="{{ asset('js/newsletter.js') }}"></script>

<script src="{{ asset('js/custom.js') }}"></script>

<script>
    jQuery(function($){
        $('body').addClass('loading');
    });

    $(window).load(function(){
        $('.flexslider').flexslider({
            animation: "fade",
            controlNav: true,
            directionNav: false,
            prevText: "",
            nextText: "",
            start: function(slider){
                $('body').removeClass('loading');
            }
        });
    });
</script>

</body>

<!-- Mirrored from handyman.dan-fisher.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Dec 2018 12:20:11 GMT -->
</html>