{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
<div class="site-wrapper">

    <!-- Header -->
    <header class="header header-menu-fullw">
        <!-- Header Top Bar -->
        <div class="header-top">
            <div class="container">
                <div class="header-top-right">
                    <button class="btn btn-sm btn-default menu-link menu-link__tertiary">
                        <i class="fa fa-user"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Main -->
        <div class="main" role="main">

            <!-- Page Heading -->
            <section class="page-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>S'inscrire</h1>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Page Heading / End -->

            <!-- Page Content -->
            <section class="page-content">
                <div class="container">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="spacer-lg visible-sm visible-xs"></div>
                            <div class="box">
                                <h3>s'inscrire</h3>
                                <form action="{{ path('fos_user_registration_register') }}" method="POST" role="form" class="fos_user_registration_register">
                                <div class="form-group">
                                    {{ form_widget(form.username, { 'attr': {'class': 'form-control placeholder-no-fix', 'placeholder':'utilisateur'} }) }}
                                    {% for errorItem in form.username.vars.errors %}
                                        <span class="help-inline">{{ errorItem.message }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder':'adresse mail'} }) }}
                                    {% for errorItem in form.email.vars.errors %}
                                        <span class="help-inline">{{ errorItem.message }}</span>
                                    {% endfor %}
                                </div>
                                {#<div class="form-group"> types utilisateurs#}
                                {#{{ form_widget(form.roles, { 'attr': {'class': 'form-control', 'placeholder':'Type utilisateurs'} }) }}#}
                                {#{% for errorItem in form.roles.vars.errors %}#}
                                {#<span class="help-inline">{{ errorItem.message }}</span>#}
                                {#{% endfor %}#}
                                {#</div>#}
                                <div class="form-group">
                                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder':'mot de passe'} }) }}
                                    {% for errorItem in form.plainPassword.first.vars.errors %}
                                        <span class="help-inline">{{ errorItem.message }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder':'Répéter mot de passe'} }) }}
                                    {% for errorItem in form.plainPassword.second.vars.errors %}
                                        <span class="help-inline">{{ errorItem.message }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-actions">
                                    <button type="submit" id="register-submit-btn" class="btn btn-primary btn-inlin">s'inscrire</button>
                                </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- Page Content / End -->

            <!-- Footer -->


        </div>
        <!-- Main / End -->
</div>

{% endblock %}





<!-- Mirrored from handyman.dan-fisher.com/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Dec 2018 12:21:12 GMT -->
